<div class="flex flex-col flex-wrap">
  <h1 class="text-3xl font-bold my-2">Ignoring Lazy Loading</h1>

  <br />
  <p>
    Lazy loading allows you to load application modules only when needed,
    improving the initial load time by splitting the app into smaller chunks.
    Failing to implement lazy loading for large applications is a common mistake
    that leads to poor performance.
  </p>

  <br />

  <h3 class="font-bold">Problem:</h3>
  <br />

  <p>
    If all components are loaded upfront, users must wait longer for the page to
    become interactive.
  </p>
  <br />
  <h3 class="font-bold">Solution:</h3>
  <br />
  <p>
    Implement lazy loading for feature modules using Angular’s router
    configuration.
  </p>
  <br />
  <h3 class="font-bold">For modules</h3>

  <pre style="font-size: 12px">
const routes: Routes = [
    {{ "{" }} path: 'dashboard',
          loadChildren:
          () => import('./dashboard/dashboard.module')
          .then(m => m.DashboardModule)
    {{ "}" }}
 ];
</pre
  >

  <br />
  <h3 class="font-bold">Components Standalone</h3>
  <pre style="font-size: 12px">
  export const routes: Routes = [
  {{ "{" }}
    path: 'ignoring-lazy-loading',
    loadComponent: () =>
      import('./example-three/example-three.component')
      .then(
        (c) => c.ExampleThreeComponent
      ),
    data:
    {{ "{" }} preload: true {{ "}" }},
    {{ "}" }}
];
</pre
  >
  <br />
  <p>
    Consider using route preloading for key routes to strike a balance between
    performance and user experience.
  </p>

  <br />
  <h3 class="font-bold">Preloading angular for module</h3>

  <pre class="text-[12px]">
 {{ codeSnippet }}

</pre
  >

  <br />
  <h3 class="font-bold">Preloading angular for component Standalone</h3>

  <p>create preload strategy</p>
  <span class="my-2 text-[12px] font-bold">
    StandalonePreloadingStrategy.ts</span
  >
  <br />
  <pre class="text-[12px]">
 {{ codeSnippet2 }}
</pre
  >
  <br />
  <span class="my-2 text-[12px] font-bold"> app.routes.ts</span>

  <pre class="text-[12px]">
  {{ codeSnippet3 }}
</pre
  >

  <br />
  <span class="my-2 text-[12px] font-bold"> app.config.ts</span>

  <pre class="text-[12px]">
  {{ codeSnippet4 }}
</pre
  >
</div>
